.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
assets/ephemeris/*.bsp
*.download
*.download2
logs/
*.csv
.pytest_cache/
.mypy_cache/
promt/
.env
.vscode/
.idea/
dist/
build/
*.egg-info/
Thumbs.db
.DS_Store
tester/
